.projects-section {
    /* padding: 2rem; */
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--southern-sand);
}

.section-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.project-columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.project-column {
    flex: 1;
    min-width: 200px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 2fr));
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.project-card {
    background-color: var(--pine-tree);
    color: var(--southern-sand);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1 1 250px; 
}

.project-card:hover {
    transform: translateY(-4px);
}

.project-card h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
    color: var(--taupe);
    margin-bottom: 0.4rem;
}

.current-projects {
    margin-top: 3rem;
}

.tech {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: var(--vintage-coin);
}

.column-divider {
    width: 3px;
    background-color: var(--pine-tree);
    margin: 0 1rem;
    opacity: 0.7;
    height: auto;
    align-self: stretch;
}

@media (max-width: 768px) {
    .project-columns {
        flex-direction: column;
        align-items: stretch;
    }

    .column-divider {
        width: 80%;
        height: 2px;
        margin: 2rem 0;
        align-self: center;
        transition: all 0.3s ease-in-out;
    }
}

.repo-link {
    display: inline-block;
    margin-top: 8px;
    color: var(--southern-sand);
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: underline;
    font-size: 0.9rem;
}

.repo-link:hover {
    color: var(--vintage-coin);
}