.content_section h2 {
    font-size: 2rem;
    color: var(--pine-tree);
    text-decoration: none;
    font-family: 'Yeseva One', sans-serif;
}

.indent {
    margin-left: 20px;
}

.content_section {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Space Mono', monospace;
    padding-left: 8rem;
    padding-right: 8rem;
}

.content_section ul {
    align-items: center;
    justify-content: center;
}