body {
    background-color: var(--southern-sand);
    margin: 8px;
    padding: 0;
    color: var(--pine-tree);
}

/* h2 {
    color: #333;
} */

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Intro Section */
#intro {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 50px;
}

#intro p {
    font-size: 1.2em;
    margin-top: 10px;
}

h1 {
    font-size: 5rem;
    font-family: 'Yeseva One', sans-serif;
    color: var(--southern-sand);
    font-weight: 700;
}

:root {
    --isabelline: #f4eeeb;
    --southern-sand: #ede3d6;
    --taupe: #b3a696;
    --vintage-coin: #7a685e;
    --pine-tree: #292e1e;
}